body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff7043;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h1 {
  color: #ffffff;
}
h2 {
  color: #b46000;
}

ul {
  padding-left: 1.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #c8e6c9;
  font-size: 0.9rem;
}
